*{
    font-family: 'Pacifico', cursive;
}
.head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#fff;
    color: #666;
    padding: 7px 0px 7px 0px;
  }
  .head > div:nth-child(2){
      text-align: center;
  }
  .head > div:nth-child(3){
      text-align: right;
  }
  .days > ul{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      list-style-type: none;
      text-align: center;
      padding-left: 0;
  }
  .week > ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    margin: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-left: 0;

}

.week > ul > li{
    border: 1px solid rgba(200,200,200, 0.5);
    padding: 15px;
}
.week > ul > li:hover{
    box-shadow: 2px 2px 2px #000;
}


.prevDate{
    background-color: rgba(200,200,200, 0.5);
    color: rgba(150,150,150, 0.9);

}
.today{
    background-color: rgba(50,50,150, 0.9);
    color: white;
}
.next-date{
    background-color: rgba(200,200,200, 0.5);
    color: rgba(150,150,150, 0.9);

}

  /* custom css */
  .circular-border{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 0px 25px 0px 25px;
    font-size: 20px;
  }